// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Montserrat', sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Montserrat', sans-serif;


$blueColorStrong: #0A4792;
$blueColor: #31B1DE;


