// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

.wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    margin-left: 0px;
    margin-right: 0;
    overflow: hidden;
    // classe junto com a row
    @media (max-width:767px) {
        .grid-reverse{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: dense;
            .grid-positionA{
                grid-column: 1;
                grid-row: 2;
            }
            .grid-positionB{
                grid-column: 1;
                grid-row: 1;
            }
        }
    }
    &__px-30{
        padding: 0 30px;
    }
}

.pxT-60{
    padding: 60px 0;
}

.half-part{
    width: 65%;
    margin: 0 auto !important;
    text-align: center;

    @media (max-width:992px) {
        width: 100%;
    }

}
section{
    margin-bottom: 30px;
}

.text-desc{
    color: $blueColorStrong;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}